name: Bnan Build

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: build-${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
      - uses: actions/checkout@v4

      - name: Install cargo-vcpkg from crates.io
        uses: baptiste0928/cargo-install@v3
        with:
          crate: cargo-vcpkg

      - name: Build vcpkg dependencies
        run: cargo vcpkg build

      - name: Print vcpkg failure logs
        if: failure()
        run: find target/vcpkg/buildtrees -name "*-err.log" -print0 | xargs -0 cat

      - name: Build
        run: cargo build --verbose

      - name: Run tests
        run: cargo test --verbose